<span *ngIf="!isNaN(value) && format === 'currency'" class="txt-value">{{ value | currency: 'USD': 'symbol': digitsInfo }}</span>
<span *ngIf="!isNaN(value) && format === 'percent'" class="txt-value">{{ value | percent: digitsInfo }}</span>
<span *ngIf="!isNaN(value) && format === 'number'" class="txt-value">{{ value | number: digitsInfo }}</span>
<span *ngIf="isNaN(value) && (format === 'currency'
|| format === 'percent'
|| format === 'number')" class="txt-value">{{ value  }}</span>
<span *ngIf="format === 'datetime'" class="txt-value">{{ value | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
<span *ngIf="format === 'none'" class="txt-value">{{ value }}</span>
