<section class="dashboard">
  <header>
    <h1>{{dashboardPageTitle}}</h1>
    <menu>
      <button type="button">
        <div class="dot-menu">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
        Reports
        <span class="caret down"></span>
      </button>
    </menu>
  </header>
  <div *ngFor="let section of layoutSections" class="dashboard-section">
    <div [ngSwitch]="section.type">
      <app-data-point *ngIf="section.type === 'DATA_POINT'" [elements]="section.elements" [label]="section.label"></app-data-point>
      <app-data-set *ngIf="section.type === 'DATA_SET'" [elements]="section.elements" [label]="section.label"></app-data-set>
    </div>
  </div>
</section>
