.dashboard {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: #333;
}

header {
  background-color: #231090;
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
}

header h1 {
  margin-right: auto;
}

/* dot icon in the header menu drop down */
.dot-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 3px; /* Adjust the gap between dots */
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.dot {
  width: 3px; /* Diameter of the dot */
  height: 3px; /* Diameter of the dot */
  background-color: #000; /* Color of the dot */
  border-radius: 50%; /* Makes the square a circle */
}

/* the down caret icon in the header menu drop down */
.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 4px solid transparent;
}
.caret.down{
  border-top-color: black;
}
